.navigation {
  display: flex;
  justify-content: center;
}
.button {
  margin: 10px;
  width: 150px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: gray;
}
/* :hover {
  background-color: red
  color: white;
} */
/* .filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
} */

.buttonClose {
  text-align: center;
}
